:root {
    --color-brand: #F07C00;
    --color-rare: #CC7961;
    --color-dark: #040710;
    --color-gray: #535353;
    --color-gray-light: #E5E5E5;
    --color-white: white;
}

// BACKGROUND COLORS






.bgc-dark {
    background-color: var(--color-dark);
}

.bgc-white {
    background-color: var(--color-white) ; 
}  