@import url("https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noticia+Text:wght@400;700&display=swap');

:root {
  // --font-primary: "Lato", sans-serif;
  --font-primary: 'Noticia Text', serif;


  --font-secondary: "Cardo", serif;
}

body {
  font-family: var(--font-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-secondary);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
  @media only screen and (max-width: $bp-lg) {
    font-size: 1.25rem;
  }
  @media only screen and (max-width: $bp-md) {
    font-size: 1.5rem;
  }
}

.ig-h7 {
  font-size: 0.75rem;

  @media only screen and (max-width: $bp-lg) {
    font-size: 1.1rem;
  }
  @media only screen and (max-width: $bp-md) {
    font-size: 1.25rem;
  }
}

p {
  @media only screen and (max-width: $bp-md) {
    font-size: 1.25rem;
  }
}


div ol li {
  @media only screen and (max-width: $bp-md) {
    font-size: 1.4rem;
  }
}


.ig-main-navbar li.menu-item a.nav-link,
a.dropdown-item {
  font-family: var(--font-secondary);
  color: var(--color-gray-light);
  font-size: .9rem;
  font-weight: 700;
  text-transform: uppercase;
  @media only screen and (max-width: $bp-lg) {
    font-size: 2rem;
  }
}

a[href^="mailto"] {
  color: var(--color-brand);
}

div ol li a {
  color: var(--color-brand);

}


.current-festival-dates {
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 0.8rem;
  text-shadow: 2px 2px 11px rgba(0,12,84,0.42);
  @media only screen and (max-width: 1100px) {
      font-size: 4rem;
  }
  @media only screen and (max-width: $bp-md) {
    font-size: 2.2rem;
  }
}

.current-festival-number {
  font-family: var(--font-secondary);
  font-size: 3rem;
  font-weight: 700;
  color: var(--color-brand);

  @media only screen and (max-width: $bp-lg) {
    font-size: 2.8rem;
  }
}

.section-header {
  color: var(--color-white);
  text-transform: uppercase;
  padding: 2em;
  text-align: center;
  &--less-padding {
    padding-top: 1em;
    padding-bottom: .5em;
}
&--less-pb {
  padding-bottom: .5em;
}
  }


.sub-section-header {
  color: var(--color-white);
  text-transform: uppercase;
  padding: .5em;
  text-align: center;
  // letter-spacing: 2em;
  
    @media only screen and (max-width: $bp-sm) {
      padding-bottom: .5em;
    }
}

.medium-title {
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 1.12rem;
  @media only screen and (max-width: $bp-lg) {
    font-size: 1.4rem;
  }
  @media only screen and (max-width: $bp-md) {
    font-size: 1.6rem;
  }
}

//////text colors////////////////////////////////////////////////

.t-light {
  color: var(--color-gray-light);
}

.t-brand {
  color: var(--color-brand);
}

.t-gray {
  color: var(--color-gray)
}


div blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  &:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  & + p {
    opacity: .7;
  }
}

.card-artist__text h4 {
  font-size: 1.34rem;
    @media only screen and (max-width: $bp-md) {
      font-size: 1.5rem;
    }
}