

.btnc {
    transition: all 0.2s ease;
    display: inline-block;

font-family: var(--font-secondary);
font-size: 1.4rem;
font-weight: 700;
border-radius: 5px;
border: none;
    &:hover {
        transform: scale(1.02);
    }
}

//COLORS//
.btnc {
    &-smoke {
        @include linear-smoke();
        color: var(--color-brand);
        &--wide {
            padding: .3em 3em;
        }
    }
    &-dark {
        background-color: var(--color-dark);
        color: var(--color-white);
        text-transform: uppercase;
        @media only screen and (max-width: $bp-md) {
            padding:.71em 1.5em;
        }
        &:hover {
            color: var(--color-white);
        }
        
        
    }
    &-brand {
        @include linear-brand ();
        color: white;
        text-transform: uppercase;
    }
    &-brand-square {
        background-color: var(--color-brand);
        border-radius: 2px;
        padding: .5em 1.5em;
        color: var(--color-gray-light);
    }

    &--30 {
        width: 30%;
        @media only screen and (max-width: $bp-md) {
          width: 80%;
          margin: 0 auto;
        }
    }
}


//SIZES//
.btnc-xl {
font-size: 2.5rem;
padding: .4em 1em;
    @media only screen and (max-width: $bp-xxl) {
font-size: 2.2rem;
        
    }
}


.btnc-underlined {
    font-size: 1.2rem;
    text-decoration: underline;
    color: var(--color-brand);
    &:hover {
    color: var(--color-brand);

    }

        @media only screen and (max-width: $bp-md) {
            font-size: 1.6rem;
            padding: .4em 0;
        }
}

.btnc-free-concert {
    &:hover {
   transform: none;
        }
}

.btn-wrapper-80__left {
    width: 80%;
    margin: 0 auto;
}
.btn-wrapper-80__right {
    width: 80%;
    margin: 0 auto;

    display: flex;
    justify-content: flex-end;

    &--change-to-left {
            @media only screen and (max-width: $bp-md) {
                justify-content: flex-start;
            }
    }
}

.btnc-l {
    font-size: 2rem;
    padding: .3em 1em;
        @media only screen and (max-width: $bp-xxl) {
    font-size: 2.2rem;
            
        }
    }
    .btnc-m {
    font-size: 1.5rem;
    padding: .6em 1.2em;
        @media only screen and (max-width: $bp-md) {
    font-size: 1.7rem;
            
        }
    }
    
    .btnc-sm {
        font-size: 1.2rem;
    }
    .btnc-xs {
        font-size: 1rem;
        @media only screen and (max-width: $bp-md) {
            font-size: 1.4rem;
                    
                }
                padding-bottom: .5em;
    }