#mc-embedded-subscribe-form {
  color: white;
}
.footer-signup-container-full {
  padding-top: 3em;
  width: 60%;
  margin: 0 auto;
   
}
.footer-signup-container-without-label {
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;

  & .ig-input-name {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    // width: 40%;
  }
  & input.email {
    // width: 60%;
    border-radius: 0;
  }
  & input.button {
    align-self: normal;
    background-color: var(--color-brand);
    color: var(--color-white);
  }
  & label {
    visibility: hidden;
  }
}

.form-control {
  // background-color: var(--color-gray-light);
}

.label-subscribe-to-newsletter {
  color: var(--color-rare);
}

.full-subscribe-form-card {
  background-color: var(--color-white);
  padding: 2em;
  border-top-left-radius : 0.25rem;
  border-top-right-radius : 0.25rem;
  margin: 0 auto;
  color: var(--color-dark);
}

.full-contact-form-label {
  color: var(--color-white);
  padding-top: 1em;
  padding-bottom: .2em;
  margin-bottom: 0;
}

.form-control:focus, .form-select:focus { 
    border-color: orange;
box-shadow: 0 0 0 0.25rem rgba(240,125,0, .2);

}

.subscribe-form-all-inputs-container {
    background-color: var(--color-dark);
    padding: 2em;
    border-bottom-left-radius : 0.25rem;
    border-bottom-right-radius : 0.25rem;
}