// breakpoints

$bp-sm: 576px;
$bp-md: 767px;
$bp-lg: 992px;
$bp-xl: 1200px;
$bp-xxl: 1400px;
@mixin active-link-reaction () {
  transform: translateY(2px) !important;
 }
html, body {
  background-color: var(--color-dark);
  overflow-x: hidden;
}

@media only screen and (max-width: $bp-xxl) {
    html {
      font-size: 90.5%;
    }
  }
  @media only screen and (max-width: $bp-xl) {
    html {
      font-size: 80.5%;
    }
  }
  @media only screen and (max-width: $bp-lg) {
    html {
      font-size: 70.5%;
    }
  }

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    body, html {
      overflow-x: hidden;
    }
  }

  /* Portrait */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
body, html {
  overflow-x: hidden;
}
  }

  /* Landscape */
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    body, html {
      overflow-x: hidden;
    }
  }

  @media only screen and (max-width: $bp-md) {
    html {
      font-size: 65.5%;
    }
    body {
      overflow-x: hidden;

    }
  }
  
  @media only screen and (max-width: $bp-md) {
    html {
      background-attachment: scroll;
    }
  }
  
  .container-fluid {
      padding-left: 0 !important;
      padding-right: 0 !important;
  }

  //.preview-lazyload: this comes from plugin Lazy Load for Videos
  // in order to have correct display of the vide, its preview-load 
  //position relative needs to be cancelled 
  .preview-lazyload {
    position: initial !important;
  }

  a {
    transition: all 0.2s ease-in-out;
  }
  a:hover {
    transform: scale(1.02);
  }
  a:active {
    @include active-link-reaction();
  }

  // .videoWrapper {
    
  // }
  // .videoWrapper div iframe {
   
    
  // }

