@import './parts/camp.scss';
@import './parts/teachers.scss';
@import './parts/fee.scss';
@import './parts/about.scss';

.message-masterclasses-not-happening {
    text-align: center;
    color:var(--color-rare);
    padding-bottom:.5em;
    display: flex;
    flex-direction: column;
    & p a {
        display: inline-block;
        color: var(--color-brand);
        &:hover {
            transform: scale(1.02);
        }
        &:active {
            transform: translateY(2px);
        }
    }
}