
.drum-league-finalists-container {

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width: $bp-lg) {
        flex-direction: row;
    }
}



.drummers-league-finalists {
    padding: 1em 0 3em 0;
}

.bbl-images {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2em;
    padding-right: 4em;
    @media only screen and (max-width: $bp-lg) {
        align-items: center;
       padding-right: calc(var(--bs-gutter-x)/ 2)
    }
  
    & img {
        width: 100%;
    }
}

.bbl-text-container {
    padding: 5em 2em 0 4em;
        @media only screen and (max-width: $bp-lg) {
            padding: 0 2em
        }
}

.modal-content__text--pad {
    & a  {
        color: var(--color-brand);

    }

    & p  a  {
        color: var(--color-brand);

    }
}