.about-workshops-wrapper {
    // width: 80%;
    // margin: 0 auto;
}

.about-workshops {
  &__image-container {
      position: relative;
      padding-left: 2em;
    @media only screen and (max-width: $bp-xl) {
      padding-right:  2em;
    }
  }

  &__text-container {
    padding-right: 2em;
      @media only screen and (max-width: $bp-xl) {  
        padding-left: 2em;
      }
  }

 &__image-1 {
     position: absolute;
     top: 25rem;
     left: 8rem;
     z-index: 2;
    box-shadow: 0 2rem 4rem rgba(4, 7, 16, 0.2);


 }

 &__image-2 {
     position: absolute;
     top: 10rem;
     left: 2rem;
    box-shadow: 0 2rem 4rem rgba(4, 7, 16, 0.2);

 }
}