

.section-with-side-links {
  display: flex;
  @media only screen and (max-width: $bp-md) {
    flex-direction: column;
  }

  &__reversed {
    flex-direction: row-reverse;
    @media only screen and (max-width: $bp-md) {
      flex-direction: column;
    }
  }
}

.side-links {
  &__wrapper {
    padding: 2em 0;
    width: 30%;
    position: relative;
    @media only screen and (max-width: $bp-lg) {
      // background-color: var(--color-dark);
      
    }
    @media only screen and (max-width: $bp-md) {
      order: 2;
      width: 100%;
      min-height: 7rem;
      display: flex;
      align-items: center;
      margin-bottom: 2em;
      background-color: var(--color-dark);

    }

    &--full {
      width: 100%;

    }
    &--height {
      // min-height: 100vh;
        @media only screen and (max-width: $bp-md) {
          order: 2;
          width: 100%;
          min-height: 7rem;
          display: flex;
          align-items: center;
          margin-bottom: 2em;
        }
    }
  }
  &__list {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    &--fixed-height {
justify-content: flex-start;
& li {
  padding: 1.5em;
}

@media only screen and (max-width: $bp-md) {
justify-content: space-around;
& li {
  padding: 0.5em;
}
}
    }
    
    @media only screen and (max-width: $bp-lg) {
      background-color: var(--color-dark);

    }

    @media only screen and (max-width: $bp-md) {
      flex-direction: row;
      height: auto;
      position: inherit;
      top: 0;
      left: 0;
      transform: none;
      background-color: var(--color-dark);


    }
    &--full-height {
      height: auto;
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      @media only screen and (max-width: $bp-lg) {
        flex-direction: column;
    }
    }
    &--sticky-history {
      padding-top: 2rem;
      position: sticky;
      top: 7rem;
    }

    &--col {
      flex-direction: column;
      height: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      @media only screen and (max-width: $bp-md) {
        flex-direction: row;
        height: auto;
        position: inherit;
        top: 0;
        left: 0;
        transform: none;
    }

    // &--teachers {

    // }
    }
  }
  &__header {
   padding-top: 2em;
   padding-bottom: 1em;
    text-align: center;
    color: var(--color-rare);
    letter-spacing: .3em;
  }
  &__item {
    padding: 0.5em;
    &--active {
      color: var(--color-brand) !important;
    }
    &--active a {
      color: var(--color-brand);
    }
    &--center {
      text-align: center;
    }
  }
  &__item a {
    display: inline-block;
    transition: all 0.2s;
    color: var(--color-white);
    font-family: var(--font-secondary);
    color: var(--color-gray-light);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.02);
    }
    &:active {
      @include active-link-reaction();
    }
  }
  &__item-group {
    padding: 1em 0;
  }
  &__item-group-inner-item {
    text-align: center;
    color: var(--color-white);
    line-height: 1.4em;
    letter-spacing: .04em;
    &--larger {
      color: var(--color-brand);
      font-family: var(--font-ternary);
      &--but-smaller {
        font-size: 1.4rem;
      }
    }
    &--smaller {
      font-size: 1.3rem;
    }
  }
}

.content-box {
  width: 80%;
  position: relative;
  @media only screen and (max-width: $bp-md) {
    order: 3;
    width: 100%;
  }
  &__header {
    @media only screen and (max-width: $bp-md) {
      order: 1;
    }
  }
}

.content-card {
  width: 80%;
  transition: all 0.6s ease-in-out;

  min-height: 7rem;
  background-color: var(--color-white);
  border-radius: 4px;
  margin: 0 auto 2em auto;
  overflow: hidden;
  line-height: 2em;
  padding: 3em;
  &__lg {
    width: 100%;
  
  }

  &__90 {
    width: 90%;
  }
  & p:not(:last-child) {
    margin-bottom: 2em !important;
  }

  & p a {
    transition: all 0.2s;
    color: var(--color-brand);
    display: inline-block;
    &:hover {
      transform: scale(1.02);
    }
  }
&__in-cooperation {
  margin: 0 auto;
}
  &__text-lg {
    line-height: 2.5rem;
    font-size: 1.25rem;


  }
  &__teacher-bio-container {
    display: none;
  }
  &__relative {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &__hidden {
    visibility: hidden;
    opacity: 0;
    transform: translateX(-120%);
    &--reverse {
      visibility: hidden;
      opacity: 0;
      transform: translateX(120%);
    }
  }

  &__visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%);
    position: initial;
    transform: none;
    @media only screen and (max-width: $bp-md) {
      position: initial;
      transform: none;
    }
    
    &--teachers {
      visibility: visible;
      opacity: 1;
      transform: translateX(-50%);
      position: initial;
        transform: none;
      // @media only screen and (max-width: $bp-md) {
      //   position: initial;
      //   transform: none;
      // }
    }
  }

  & p:not(:last-child) {
    margin-bottom: 1em !important;
  }

  @media only screen and (max-width: $bp-md) {
    order: 3;
    padding: 2em;
    display: flex;
    flex-direction: column;
  }

  &__photo {
    float: left;
    width: 40%;
    margin: 0 1em 1em 0;

    @media only screen and (max-width: $bp-md) {
      width: 100%;
      margin: 0;
      order: 2;
    }
  }

  &__name {
    @media only screen and (max-width: $bp-md) {
      text-align: center;
      padding: 1em;
      order: 1;
    }
  }
  &__text {
    @media only screen and (max-width: $bp-md) {
      order: 3;
    }

    & p {
      @media only screen and (max-width: $bp-md) {
        font-size: 1.4rem;
      }
    }
  }

  &__btn {
    @media only screen and (max-width: $bp-md) {
      order: 4;
      margin-top: 0.8em;
      align-self: start;
    }
  }
}
