.homepage-about-festival {
   padding-bottom: 4em;
   
}




.about-us-small-gallery {
    display: flex;
    align-items: center;
        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
        }
        &__workshop-sections  {
            padding-left: 6em;
        }
}

