.homepage-upcoming-concerts {
    min-height: 100vh;
    margin-top: 5rem;
   
}

.concert-cards-wrapper {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.taxonomy-triggers-container {
    display: flex;
}

.sort-by-toggler {
    transition: all 0.2s ease;
    color: var(--color-rare);
    
    padding-right: 1em;
    &:hover {
    color: var(--color-rare);
    text-decoration: underline;

    }
    &__active {
        font-size: 1.2rem;
        text-decoration: underline;
    }
}

.sort-by-options {
    display: flex;
    padding: .3em 0;
    &__link {
        transition: all 0.2s ease;
        padding-right: 1em;
        color: var(--color-gray-light);
        &:hover, &:focus, &:active {
            color: var(--color-brand);
        }
        &--active {
            color: var(--color-brand);
            transform: scale(1.01);
        }
    }

    // &__venue {
    //     display: none;
    // }
    // &__date {
    //     display: none;
    // }
}


.sort-by-venue {
    transition: all 0.2s ease;
    position: relative;
    // display: none;
   
}

.sort-by-menu {
    &--off-screen {
        position: absolute;
        opacity: 0;
        transform: translateX(-1000%);
        animation: slideOut .5s ease forwards;
    }
    &--on-screen {
        position: relative;
        opacity: 1;
        transform: translateX(0);
        animation: slideIn .5s ease forwards;

    }
}

@keyframes slideIn {
    0% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideOut {
    0% {
      transform: translateX(0);
    }
    70% {
      transform: translateX(10%);
    }
    100% {
      transform: translateX(-100);
    }
  }


.light-hr {
    border-top: 2px solid var(--color-gray-light);
}

.upcoming-events__wrapper {
    padding-top: 2em;
    transition: all 0.2s ease-in-out;
}

.upcoming-events__wrapp-for-single {
    display: flex;
}

.plus-more-concerts-to-show-wrap {
    display: flex;
    padding: 3em;
    align-self: flex-end;
        & h4 {
            @media only screen and (max-width: $bp-md) {
                padding-bottom: 1em;;
                
            }
        }
        @media only screen and (max-width: $bp-md) {
            flex-direction: column;
            
        }
}

.more-concerts-text {
    align-self: flex-end;
}

.taxonomy-triggers-container--wrapper {
    display: flex;
    justify-content: space-between;
}