.full-screen-cover {
  min-height: 100vh;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-attachment: fixed !important;
    &__static {
      background-attachment: scroll !important;        

    }
        @media only screen and (max-width: $bp-md) {
            background-attachment: scroll !important;        
        }
/* ----------- iPad Pro ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-attachment: scroll !important;  
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-attachment: scroll !important;  
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    background-attachment: scroll !important;  
    

}

}

.mb-2 {
  margin-bottom: 2em;
}

.ml-3 {
  margin-left: 3em;
}

.uppercase {
  text-transform: uppercase;
}

.md-none {
    @media only screen and (max-width: $bp-md) {
      display: none;      
    }
}

.d-md-only {
  display: none;
    @media only screen and (max-width: $bp-md) {
      display: block;
      
    }
}

.d-xl-only {
  display: none;
  @media only screen and (max-width: $bp-xl) {
    display: block;
    
  }
}

.mt-5rem {
  margin-top: 5rem;
}
.mt-3rem {
  margin-top: 3rem;
}

.p-relative {
  position: relative;
}

.self-start {
  align-self: start;
}

.p-0 {
  padding: 0;
}
.pt-5rem {
  padding-top: 5rem;
}

.ig_w-60 {
  width: 40% !important;
}


.ig_w-100 {
  width: 100% !important;
}

.bgc-dark {
  background-color: var(--color-dark);
}

.no-overflow {
  overflow: hidden;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.flexible-content-floats {
 &--left
  {
padding: 0 1em .5em 0;
  }
  &--right {
    padding: 0 0 .5em .5em;
  }
}