.page-about {
    &__wrapper {
        width: 80%;
        margin: 0 auto;
    }
    &__gallery-wrapper {
        display: flex;
        align-items: center !important;
    }
    &__venues-container {
        width: 80%;
        margin: 0 auto;

    }
}

.venue-header-letter-spacing {
    word-break: break-word;
}