.ig-footer-navbar {
  width: 100%;
  flex-direction: row;
  align-items: baseline;
}

.ig-footer-navbar li.menu-item a.nav-link,
a.dropdown-item {
  padding-right: 2em;
  white-space: nowrap;
}

.ig-footer-navbar li.menu-item a.nav-link {
  color: var(--color-white);
}

.ig-footer-navbar li.menu-item ul.former-dropdown-menu {
  background-color: inherit;
//   left: 50%;
  padding: 0 !important;
  flex-direction: column;
  display: flex;
  text-align: right;
}
.ig-footer-navbar li.menu-item ul.former-dropdown-menu li {
  text-align: left !important;
}

.ig-footer-navbar li.menu-item ul.former-dropdown-menu li a {
  font-size: .8rem;
  text-transform: lowercase;
  font-weight: 400;
  opacity: 0.7;
  &:hover {
    color: var(--color-white);
  }
}
